body {
    margin: 0;
    padding: 0;
    background-color: #c0c0c0;
    background-image:url(https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: lekton 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    background-color: #046380;
    color: #046380;
    padding: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    opacity: 0.97;
}
header a{
    text-align: right;
}
nav {
    background-color:#046380;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.97;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    opacity: 0.97;

}
nav a:hover {
    background-color: #046380;
    color: #000000;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.card {
    background-color: #046380;
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 20px ;
    margin-bottom: 80px;
    border-radius: 5px;
    overflow: hidden;
    flex-basis: 400px;
    flex-shrink: 1;
    flex-grow: 0.9;
    transition: box-shadow 0.1s ease;
    opacity: 0.97;
    height: 250px;
}
.card:hover {
    box-shadow: 0px 0px 20px #046380;
}
.card h1 {
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    color: #fff;
}
.card h4{
    margin: 10px;
    font-size: 18px;
    text-align: left;
    border-radius: 5px;
    color: #fff;
}
.card h6{
    margin: 10px;
    font-size: 15px;
    text-align: left;
    background-color: #046380;
    color:#fff;
}
.card button{
    margin: 10px;
    font-size: 15px;
    text-align: center;
    background-color: #fff;
    border-radius: 45px;
    cursor: pointer;
    background-color: #ccc;
}
button:hover {
    background-color: #c0c0c0;
    color: #000000;
}
.button {
    background-color: #046380;
    border: #046380;
    color: #046380;
    padding: 15px 32px;
    align-items: right;
    text-decoration:solid;
    display:flex;
    justify-content: right;
    font-size: 16px;
    border-radius: 80px;
    opacity: 0.93;
    margin-left: 78%;
    height: 30px;
    cursor: pointer;
}
button:hover {
    background-color: #c0c0c0;
    color: #000000;
}
.HOTELS{
    width: 300px;
    border: 1px ;
    margin-left: 35%;
    margin-bottom: 25px;
}
.LOCATION{
    width: 350px;
    float:left; 
    border: 1px ;
    margin-left: 5%;
}
.CHECKINDATE{
    width: 300px;
    float:left; 
    border: 1px ;
    margin-left: -5%;
}
.CHECKOUTDATE{
    width: 300px;
    float:left; 
    border: 1px ;
}
.NUMBEROFGUESTS{
    width: 300px;
    float:left; 
    border: 1px ;
}
.SEARCH{
    width: 300px;
    float: inline-start;
    margin-left: 38%;
    padding-top: 9%;

}
#CHECKININPUT{
    border-radius: 10px;
    padding: 20px; 
    width: 200px;
    height: 0.4px; 
    cursor: pointer;
    margin-left:auto;
}
#CHECKOUTINPUT{
    border-radius: 10px;
    padding: 20px; 
    width: 200px;
    height: 0.4px; 
    cursor: pointer;
}
#LOCATIONINPUT{
    border-radius: 10px;
    padding: 20px; 
    width: 200px;
    height: 0.4px; 
    cursor: pointer;
    margin-left: 0%;
}
#NOGINPUT{
    border-radius: 10px;
    padding: 20px; 
    width: 200px;
    height: 0.4px; 
    cursor: pointer;
}
.footer{
    background-color: #c0c0c0;
    color: #000000;
    padding: 30px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    width: 110%;
    height:fit-content;
    opacity: 0.93;
}
.PHONE{
    width: 300px;
    float:left; 
    border: 1px ;
}
.EMAIL{
    width: 300px;
    float:left; 
    border: 1px ;
}
